.storybook-button {
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
.v-application .primary-theme {
  background-color: #3c76a6 !important;
  border-color: #3c76a6 !important;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  height: 50px !important;
  letter-spacing: 0.5px;
  line-height: 26px;
  text-transform: capitalize;
  z-index: 99;
}
/* .v-btn--contained {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
} */
.blue--dark {
  background-color: #2d597d;
  opacity: 1;
}
.v-application .primary-theme:focus,
.v-application .primary-theme:active {
  background-color: #2d597d !important;
  border-color: #2d597d !important;
}
.c-primary-btn .theme--light.v-btn:focus:before {
  opacity: 0;
}
.banner-btn .v-icon {
  color: #ffffff;
}
.primary-theme .v-btn__content {
  z-index: 999;
}
.c-primary-btn button {
  position: relative;
  overflow: hidden;
}
.c-primary-btn button:after {
  content: '';
  width: 120px;
  height: 120px;
  background-color: #2d597d;
  position: absolute;
  bottom: -130px;
  border-radius: 100%;
  box-shadow: none;
  transition: 0.2s;
  display: none;
}
.c-primary-btn button:hover:after {
  bottom: -80px;
  transition: 0.2s;
}
@media screen and (max-width: 600px) {
  .v-application .primary-theme {
    font-size: 18px;
    height: 40px !important;
    padding: 0 38px !important;
  }
  .primary-theme i {
    font-size: 22px !important;
    margin-right: 5px;
    position: relative;
    /* position: absolute;
    left: -32px;
    top: -1px; */
  }
  .c-primary-btn button:after {
    content: '';
    width: 80px;
    height: 80px;
    bottom: -90px;
  }
  .c-primary-btn button:hover:after {
    bottom: -60px;
    transition: 0.2s;
  }
}
