.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
.v-application .primary-theme {
  background-color: #3c76a6 !important;
  border-color: #3c76a6 !important;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  height: 50px !important;
  letter-spacing: 0.5px;
  line-height: 26px;
  text-transform: capitalize;
}
.v-application .primary-theme:focus,
.v-application .primary-theme:active {
  background-color: #2d597d !important;
  border-color: #2d597d !important;
}
.banner-btn .v-icon {
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .v-application .primary-theme {
    font-size: 18px;
    height: 40px !important;
    padding: 0 38px !important;
  }
  .primary-theme i {
    font-size: 20px !important;
    margin-right: 5px;
    position: absolute;
    left: 7px;
    top: 8px;
  }
}
