.primary-dark-bg{
  background-color: #0C1831;
}
.counter-wrape{
  padding-top: 100px !important;
  padding-bottom: 20px !important;
}
.counter-wrape .theme--dark.v-card{
  background-color: transparent;
  box-shadow: none;
}
.counter-wrape .theme--dark.v-card h3{
  color: #A5D6FE;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 79px;
  text-align: center;
}
.counter-wrape .theme--dark.v-card span{
  color: #A5D6FE;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  display: flex;
  padding-top: 12px;
  width: 100%;
  justify-content: center;
}
/* .counter-wrape .border-left{
  border-left: 2px solid #A5D6FE;
}
.counter-wrape .border-right{
  border-right: 2px solid #A5D6FE;
} */
.counter-wrape .counter-text-wrapper{
  border-left: 2px solid #A5D6FE;
}
.counter-wrape .counter-text-wrapper:first-child{
  border-left: none;
}
.counter-wrape .counter-bottom-line{
  color: #A5D6FE;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  display: flex;
  padding-top: 12px;
  width: 100%;
  padding-top: 80px;
  justify-content: center;
}