@font-face {
  font-family: 'Calibre';
  src: url('fonts/Calibre-Black.woff') format('woff'),
    url('fonts/Calibre-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('fonts/Calibre-BlackItalic.woff') format('woff'),
    url('fonts/Calibre-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('fonts/Calibre-Bold.woff') format('woff'),
    url('fonts/Calibre-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('fonts/Calibre-BoldItalic.woff') format('woff'),
    url('fonts/Calibre-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('fonts/Calibre-Light.woff') format('woff'),
    url('fonts/Calibre-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('fonts/Calibre-LightItalic.woff') format('woff'),
    url('fonts/Calibre-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('fonts/Calibre-Medium.woff') format('woff'),
    url('fonts/Calibre-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('fonts/Calibre-MediumItalic.woff') format('woff'),
    url('fonts/Calibre-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('fonts/Calibre-Regular.woff') format('woff'),
    url('fonts/Calibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('fonts/Calibre-RegularItalic.woff') format('woff'),
    url('fonts/Calibre-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('fonts/Calibre-Semibold.woff') format('woff'),
    url('fonts/Calibre-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('fonts/Calibre-SemiboldItalic.woff') format('woff'),
    url('fonts/Calibre-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('fonts/Calibre-Thin.woff') format('woff'),
    url('fonts/Calibre-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('fonts/Calibre-ThinItalic.woff') format('woff'),
    url('fonts/Calibre-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
